html, body {
    max-width: 100%;
   max-height: 100%;
}

.header,footer {
    width: 100%;
  
}

footer{
    position: absolute;
    background-color: #f2f2f2;
    left: 0;
    bottom: 0;
}

.links1{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
   

main{
    text-align: center;
    margin-top: 200px;
}

.links{
    
    display: flex;
    padding: 10px;
    justify-content:  space-between
    
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

.left-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    
}

.right-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;

 }

p{
    padding: 20px;
    border: 1px solid #dadce0 ;
    
}

.butn{
    padding: 30px;
}

.color{
    background-color: rgb(48, 48, 207);
    color: antiquewhite;
    padding: 10px;

}


input[type=text] {
    padding: 10px;
    border: 1px solid rgb(206, 196, 196);
    box-shadow: 2px ;
    color: black;
    border-radius: 24px;
    width: 60%;
  }

  input[type=text]:hover {
    box-shadow: 0 0 2px 1px;
  }

  input[type=text]:focus{
    color: aqua;
  }
 .ikons{
    display: flex;
    width: 24px;
    height: 24px;
    position: relative;
    
 }

 .ikons:hover{
    box-shadow: 0 0 10px 5px;
    color: rgb(175, 175, 175);
    border-radius: 50px;
 }

 .ikons:hover::after{
    content: attr(data-title);
    position: absolute;
    left: 0;
    bottom: -40px;
    background: rgb(40, 39, 39);
    color: rgb(255, 247, 247);

 }

 .registration{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
 }
 .history{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
 }